@media all and (max-width:650px){
	html{
		font-size: 14px;
	}
	#header{
		z-index: 9990;
	}
	#container{
		position: relative;
	}
	.myMusic-list{
		width: 100%;
	}
	#imgsPlay{
		margin-top: 25%;
		margin-left: -2px;
		width: 104%;
		transform: scale(2.5);/*2.5X1.2=3*/
	}
	#imgsPlay .marks{
		transform: scale(0.4)
	}
	#FM{
		margin-top:20% ;
	}
	#FM>.add-border{
		border: none;
	}
	#FM>div>div{
		flex-flow: row wrap;
		justify-content: center;
		width: 100px;
	}
	#FM>div .content{
		margin-top: 10px;
	}
	#FM>div .content>span:last-child{
		display: none;
	}
	#Recom .lists .list:last-child{
		display: none;
	}
	#Recom .list{
		flex:0 30%;
		max-width: 48%;
		min-width: 18%;
		margin-top: 20px;
		flex-flow: row wrap;
	}

	#songs .newsong-list{
		flex-flow: row wrap;
	}
	#songs .newsong-list>div:nth-child(n){
		width:100%;
		height:60px;
		background-color:white;
	}
	#songs .newsong-list .colorBlock{
		width: 45px;
		height: 45px;
		margin: 0 2px;
	}
	#songs .newsong-list>div:nth-child(2n+1){
		border-right: none;
		background-color: rgba(200,200,200,0.1)
	}
}
@media all and (max-width:420px){
	#container{
		display: flex;
		width: 100%;
	}
	#container .contains{
		position: relative;
		flex: 0 0 100vw;
		margin-right: 0;
	}
	.myMusic-list{
		height: 100%;
		flex: 0 0 100vw;
	}
	.change-list .list{
		width: 100%;
		height: 100%;
	}
	#footer canvas{
		width: 60px;
		height: 60px;
	}
}
