#footer{
  display: flex;
  flex-flow: row nowrap;
}
#footer .cover{
  width: 60px;
  height: 60px;
  background-color: grey;
}
#footer .controls{

  height: 100%;
}
#footer .controls>div{
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color:grey;
  margin: 5px;
}
#footer .time{
  background-color: grey;
  width:50%;
}
