<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>网易云</title>
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/container-imgplay.css">
	<link rel="stylesheet" href="css/container-group.css">
	<link rel="stylesheet" href="css/media.css">
	<link rel="stylesheet" href="css/调整栏目.css">
	<link rel="stylesheet" href="css/aside.css">
	<link rel="stylesheet" href="css/footer.css">

</head>
<body>
	<script type="text/x-template" id='my-newsong'>
		<div>
			<p class='h'>
				<span>最新音乐</span>
				<span class='more'>更多 &gt;</span>
			</p>
			<div class='newsong-list'>
				<div v-for='i in 10'>
					<div>{{String(i).length>1?i:'0'+i}}</div>
					<div :style='colorBlock()' class='colorBlock'></div>
					<div>
						<span>{{items.songname[i-1]}}</span><br>
						<span>{{items.author[i-1]}}</span>
					</div>
				</div>
			</div>
		</div>
	</script>
	 <div id="musicApp">
	 	<div id='header'>
	 		<span>网易云音乐</span>
	 	</div>
	 	<div id="container">
	 		<div class="aside" id='aside'>
	 			<div class='menu-but'>
	 				<div></div>
	 				<div></div>
	 				<div></div>
	 			</div>
	 			<div class='menu'>
	 				<p>发现音乐</p>
					<p>本地音乐</p>
					<p>添加歌单</p>
	 			</div>
	 			<div class='User'>账户</div>
	 		</div>
	 		<div class="contains">
	 			<div class="top">
	 				<div class="tip">发现音乐</div>
	 				<div class="tab">
	 					<p>
	 						<span>个性推荐</span>
	 						<span>歌单</span>
	 					</p>
 						<p>
 							<span>最新音乐</span>
 							<span>歌手</span>
 						</p>

	 				</div>
	 			</div>
	 			<div class="center">
	 				<div class='center-contains'>
	 					<div class="imgs-play" id='imgsPlay'>
		 					<div class="items" id="items">
		 						<div v-for="item in items" class="item" :style='item'>
		 						</div>
		 					</div>
							<div class='marks'>
								<span v-for='i in 6'></span>
							</div>
							<div class='leftBut'><span>&lt;</span></div>
							<div class='rightBut'><span>&gt;</span></div>
	 					</div>
	 					<div id="FM">
							<div>
								<div>
									<div class="imgs"><img src="imgs/图标/FM.png"></div>
									<div class="content">
										<span>私人FM</span><br>
										<span>享受你的音乐专属推荐</span>
									</div>
								</div>
							</div>
							<div class="add-border">
								<div>
									<div class="imgs"><img src="imgs/图标/Day.png"></div>
									<div class="content">
										<span>每日推荐</span><br>
										<span>根据你的口味生成</span>
									</div>
								</div>
							</div>
							<div>
								<div>
									<div class="imgs"><img src="imgs/图标/Top.png"></div>
									<div class="content">
										<span>排行榜</span><br>
										<span>最热音乐榜</span>
									</div>
								</div>
							</div>
	 					</div>
	 					<Recom
	 						id='Recom'
	 						:listsong='listDetails'
	 						:list='listDetails.dec'
	 						class='Recom'>
	 					</Recom>
	 					<songs
	 						id='songs'
	 						:song='newsong'
	 						class='newsong'>
	 					</songs>
	 					<div id='adjust'>
	 						<p>根据喜好调整栏目顺序</p>
							<div>
								<button>调整栏目</button>
							</div>
 						</div>
	 				</div>
	 				<!-- <transition name='pop'>
						<div v-if='true' class='change-lis'>
							<div class='change-list'>
								<p>调整栏目顺序
									<span>x</span>
								</p>
								<div>
									<button>调整</button>
								</div>
							</div>
						</div>
					</transition> -->
	 			</div>
	 		</div>
	 	</div>
	 	<div id="footer">

			<div class='cover'>
				<div>图片</div>
			</div>
			<div class='controls'>
				<div class='last'></div>
				<div ></div>
				<div class='next'></div>
			</div>
			<div class='time'>
				<div></div>
			</div>
	 	</div>
	 </div>

	 <script src="javascript/vue.js"></script>
	 <script src="javascript/index.js"></script>
	 <script src="javascript/图片轮播.js"></script>
</body>
</html>
